<header>
  <h1>
    todos
  </h1>
  <%= form_tag('/todos') do %>
    <%= text_field_tag(:'new-todo') %>
    <%= submit_tag('add') %>
  <% end %>
</header>
<section>
  <ul>
    <% @todos.each do |todo| %>
      <div>
        <li>
          <%= form_for(todo) do |f| %>
            <%= f.check_box(:completed, { class: "completed" }, todo.id) %>
            <%= f.text_field(:description) %>
            <%= f.submit %>
            <%= link_to "Destroy", todo_path(todo), method: :delete %>
          <% end %>
        </li>
      </div>
    <% end %>
  </ul>
</section>
