<header id='header'>
  <% flash.each do |name, messages| %>
    <% messages.each do |message| %>
      <%= content_tag :div, message, class: name %>
    <% end %>
  <% end %>

  <h1>
    todos
  </h1>

  <%= form_tag('/todos') do %>
    <%= text_field_tag(:'new-todo', nil,
            placeholder: 'What needs to be done?', autofocus: true) %>
    <%= submit_tag('add') %>
  <% end %>
</header>
<section>
  <ul>
    <% @todos.each do |todo| %>
      <div>
        <li>
          <%= form_for(todo) do |f| %>
            <%= f.check_box(:completed, { class: "completed" }, todo.id) %>
            <%= f.text_field(:description) %>
            <%= f.submit %>
            <%= link_to "Destroy", todo_path(todo), method: :delete %>
          <% end %>
        </li>
      </div>
    <% end %>
  </ul>
</section>
<footer>
  <span>
    <%= pluralize(@count, 'item') %> left
  </span>
  <ul>
    <li>
      <a href="/">All</a>
    </li>
    <li>
      <a href="/?completed=false">Active</a>
    </li>
    <li>
      <a href="/?completed=true">Completed</a>
    </li>
  </ul>
  <%= button_to 'Clear completed', { action: 'destroy', id: 'completed' },
                                           method: :delete %>
</footer>
